                                          PYTHON DATA STRUCTURE ASSIGNMENT

#                                 # THEORITICAL QUESTION

1. What are data structures, and why are they important?

-> Data structures are organized ways of storing, managing, and organizing data so that it can be efficiently accessed and modified. They are fundamental concepts in computer science and software development, providing a systematic way to handle and process data in various applications.
Importance of Data Structures
Efficiency: The choice of data structure impacts the speed and memory usage of algorithms. Some structures allow for quicker searching, insertion, and deletion, leading to more efficient software.

Optimal Performance: Using the right data structure ensures that programs can handle large amounts of data, such as in databases or search engines, without performance degradation.

Problem Solving: Data structures provide the foundation for solving complex problems like sorting, searching, and graph traversal. They enable more efficient and scalable solutions.

Organization and Access: By organizing data in a structured way, data structures help in better data management, making it easier to store, retrieve, and modify data.

2.Explain the difference between mutable and immutable data types with examples.

-> In programming, mutable and immutable data types refer to whether or not the data stored in an object can be modified after the object is created.

1. Mutable Data Types
Mutable data types are objects whose contents can be changed or modified after they are created. You can update, add, or remove elements from mutable objects.

Examples of Mutable Data Types:
Lists (in Python): You can change, add, or remove elements from a list after it is created.

In [1]:
my_list = [1, 2, 3]
my_list[0] = 100  # Modify the first element
my_list.append(4)  # Add a new element
print(my_list)  # Output: [100, 2, 3, 4]

[100, 2, 3, 4]

2. Immutable Data Types
Immutable data types are objects whose contents cannot be changed once the object is created. Any attempt to modify an immutable object will result in a new object being created rather than modifying the original one.

Examples of Immutable Data Types:
Strings (in Python): You cannot change the individual characters of a string after it's created. Any modification results in the creation of a new string.

In [2]:
my_string = "hello"
new_string = my_string.replace("h", "H")  # Create a new string
print(my_string)  # Output: hello (original string is unchanged)
print(new_string)  # Output: Hello

hello
Hello

3.What are the main differences between lists and tuples in Python?

-> In Python, both lists and tuples are used to store collections of items, but they have several key differences in terms of mutability, performance, and use cases. Here are the main differences between them:

1. Mutability:
Lists are mutable: This means that you can change, add, or remove elements after the list is created.
Use lists when you need a flexible, mutable collection of items that may change over time.
Use tuples when you need an immutable collection, often for data integrity or performance reasons, and when you need to use the collection as a dictionary key or set element.

4.Describe how dictionaries store data?

-> Dictionaries in Python store data in a **hash table**. Each key-value pair is stored based on the hash value of the key. Here's how it works:

1. **Key-Value Pair**: A dictionary stores data as a pair, where the key is unique, and the value is associated with it.
2. **Hashing**: The key is passed through a **hash function** that generates a hash value (an integer) which determines where the key-value pair is stored in memory.
3. **Buckets**: The hash table consists of **buckets** (or slots), where key-value pairs are placed. The hash value directs the placement of each pair into a bucket.
4. **Collisions**: If two keys hash to the same value, a **collision** occurs, and Python resolves it using techniques like **open addressing** or **chaining**.
5. **Resizing**: When the dictionary grows, it may be **resized** to maintain performance, redistributing the key-value pairs across a larger hash table.

Dictionaries allow for fast lookups, insertions, and deletions, with average time complexity of O(1) for each operation.

5.Why might you use a set instead of a list in Python?

-> You might use a **set** instead of a **list** in Python when:

1. **Uniqueness**: You want to store only unique elements, as sets automatically eliminate duplicates.
2. **Efficiency**: You need faster membership testing (`in`), which is O(1) for sets, compared to O(n) for lists.
3. **Set Operations**: You need to perform set operations like union, intersection, and difference.
4. **Unordered Collection**: The order of elements does not matter, as sets are unordered.

Sets are ideal for situations where you need fast lookups, uniqueness, or set-based operations.

6.What is a string in Python, and how is it different from a list?

-> A **string** in Python is an immutable sequence of characters, typically used to represent text.

### Differences from a list:
1. **Mutability**: Strings are **immutable**, meaning they cannot be changed after creation, while lists are **mutable** and can be modified.
2. **Element Type**: Strings only contain **characters** (text), while lists can store **any data type** (integers, strings, objects, etc.).
3. **Operations**: Strings support text-specific operations (e.g., concatenation, slicing), while lists support a broader range of operations (e.g., adding/removing elements).
4. **Syntax**: Strings are defined with **quotes** (`" "` or `' '`), while lists are defined with **square brackets** (`[ ]`).

7.How do tuples ensure data integrity in Python?

-> Tuples ensure data integrity in Python by being **immutable**. Once created, the contents of a tuple cannot be modified, preventing accidental changes to the data. This immutability guarantees that the data remains consistent and unaltered throughout the program, making tuples ideal for storing fixed, critical data that should not be modified.

8.What is a hash table, and how does it relate to dictionaries in Python?

-> A **hash table** is a data structure that stores key-value pairs, where a **hash function** maps keys to indices in an array, allowing for efficient data retrieval. In Python, dictionaries use a hash table to store data, with the key being hashed to determine its position in memory for quick access, making lookups and insertions fast (average O(1) time complexity).

9.Can lists contain different data types in Python?

-> Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, and even other lists or objects.

10.Explain why strings are immutable in Python?

-> Strings are immutable in Python to ensure efficiency and data integrity.

1. **Efficiency**: Immutability allows Python to optimize memory usage, sharing string objects when possible, instead of creating new ones for every modification.
2. **Data Integrity**: Immutability prevents accidental changes to string data, making it safer for use in scenarios where data should remain constant, such as keys in dictionaries.
3. **Hashability**: Immutable objects can be used as keys in hash tables (e.g., dictionaries and sets), ensuring that their hash value remains consistent throughout their lifetime.

11.What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries offer several advantages over lists for certain tasks:

1. **Fast Lookup**: Dictionaries provide **O(1)** average-time complexity for key-based lookups, whereas lists require **O(n)** time for searching through elements.
   
2. **Key-Value Mapping**: Dictionaries store data as **key-value pairs**, which makes them ideal for tasks where each element has a unique identifier (e.g., mapping names to phone numbers).

3. **Unordered Collections**: Dictionaries do not rely on the order of elements, making them more efficient for managing associations between data, while lists maintain order.

4. **Efficient Deletion and Insertion**: Inserting or deleting elements in dictionaries (by key) is generally faster than doing so in lists (by index or value).

5. **Direct Access to Values**: With dictionaries, you can directly access values via keys, avoiding the need for iteration or indexing as you would with lists.

12.Describe a scenario where using a tuple would be preferable over a list

-> A tuple would be preferable over a list in a scenario where data integrity and immutability are important. For example, when storing **coordinates** (e.g., latitude and longitude) that should not change throughout the program:

```python
coordinates = (40.7128, -74.0060)  # (latitude, longitude)
```

In this case, using a tuple ensures that the coordinates cannot be accidentally modified, preserving data integrity. Additionally, tuples use less memory and are faster for iteration, making them more efficient for fixed data collections.

13.How do sets handle duplicate values in Python?

-> Sets automatically **remove duplicates** by only storing unique elements. If you try to add a duplicate value, it will be ignored.

14.How does the “in” keyword work differently for lists and dictionaries?

-> For **lists**, the `in` keyword checks if a **value** is present in the list.  
For **dictionaries**, the `in` keyword checks if a **key** is present in the dictionary.

15.Can you modify the elements of a tuple? Explain why or why not?

-> No, you cannot modify the elements of a tuple because tuples are **immutable**, meaning their contents cannot be changed after they are created.

16.What is a nested dictionary, and give an example of its use case?

-> A nested dictionary is a dictionary where the values are other dictionaries or complex data structures.

### Example Use Case:

A school system with multiple schools, each having students and their grades:

```python
school = {
    "School A": {
        "students": {
            "John": {"age": 15, "grades": {"math": 90, "science": 85}},
            "Alice": {"age": 14, "grades": {"math": 88, "science": 92}}
        }
    },
    "School B": {
        "students": {
            "Bob": {"age": 16, "grades": {"math": 85, "science": 80}},
            "Charlie": {"age": 14, "grades": {"math": 90, "science": 94}}
        }
    }
}
```

### Accessing Data:
```python
john_grades = school["School A"]["students"]["John"]["grades"]
print(john_grades)  # {'math': 90, 'science': 85}
```

17. Describe the time complexity of accessing elements in a dictionary

-> The time complexity of accessing elements in a dictionary is **O(1)** on average.

18. In what situations are lists preferred over dictionaries?

-> Lists are preferred over dictionaries when:

1. You need ordered data.
2. You don't require key-value mapping.
3. The data is indexed by position rather than a unique key.
4. You need to store duplicate values.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries are considered unordered because their elements are stored in arbitrary order based on their hash values, not in a sequence. This doesn't affect data retrieval, as dictionaries allow direct access to values via keys, providing **O(1)** average time complexity, regardless of order.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

-> In a list, data is retrieved by index (position), while in a dictionary, data is retrieved by key. Lists are ordered, while dictionaries are unordered, but dictionaries allow faster retrieval by key (average O(1) time complexity).

                             # ***PRACTICAL QUESTION ***

1.Write a code to create a string with your name and print it?

In [7]:
name = "ChatGPT"
print(name)

ChatGPT

2.Write a code to find the length of the string "Hello World"E?

In [8]:
string = "Hello World"
length = len(string)
print(length)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"E

In [9]:
string = "Python Programming"
sliced = string[:3]
print(sliced)

Pyt

4.Write a code to convert the string "hello" to uppercase

In [10]:
string = "hello"
uppercased = string.upper()
print(uppercased)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"E

In [11]:
string = "I like apple"
replaced = string.replace("apple", "orange")
print(replaced)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [12]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [13]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [14]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [15]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [16]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 10, 20, 30 and print it

In [17]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [18]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [19]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [21]:
my_tuple = ('apple', 'orange', 'banana')
result = 'banana' in my_tuple
print(result)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [22]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [23]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [24]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [25]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [26]:
tuple_data = (1, 2, 3, 2, 4, 2)
count = tuple_data.count(2)
print(count)

3

21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [27]:
tuple_data = ('dog', 'cat', 'rabbit')
index = tuple_data.index('cat')
print(index)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [28]:
tuple_data = ('apple', 'orange', 'banana')
result = 'banana' in tuple_data
print(result)

True

23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [29]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [30]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}